*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.cards {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.card {
	margin: 20px 0 20px 0;
	color: white;
	font-size: 50px;
	text-align: center;
	padding: 100px;
	border: 2px solid #13619A;
	border-radius: 20px;
	background-color: #13619A;
}
.no-ponds {
	margin-top: 15px;
	text-align: center;
	padding: 70px 30px;
	background: #13619A;
	border-radius: 5px;
	color: white;
}