{% extends "pond/base.html" %}
{% load static %}

{% block title %}
	Add Pond | Pondify
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'pond/add_pond.css' %}">	
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="head_title"> Add Pond </h1>
	</div>
	<div class="form-group container">
		<form method="POST">
			{% csrf_token %}
			<div class="col-md-8">
				<label>Pond Name</label>
				<input type="text" name="pond_name" required>
				<label>Channel ID</label>
				<input type="text" name="channel_id" required="">
			</div>
			<input type="submit" value="Add Pond" class="btn btn-primary">
		</form>
	</div>
{% endblock %}