{% extends "pond/base.html" %}
{% load static %}

{% block title %}
	{{ response.channel.name }} | Pondify
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'pond/each_pond.css' %}">	
{% endblock %}

{% block body %}
	
	<div class="container">
		<h1 class="display-2 head_title"> {{ response.channel.name }} </h1>
	</div>
	<div class="category">
		<h3> Temperature </h3>
		<input type="text" name="" readonly value="{{ response.feeds.0.field1 }}">
	</div>
	<div class="category">
		<h3> pH Level </h3>
		<input type="text" name="" readonly value="{{ response.feeds.0.field2 }}">
	</div>
	<div class="category">
		<h3> Water Level </h3>
		
		{% if pond.water_level %}
			<input type="text" name="" readonly value="Good">
		
		{% else %}
			<input type="text" name="" readonly value="Not Good">
		{% endif %}

	</div>
	
{% endblock %}